.btn-primary{
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
}
.btn{
    padding: 4px 8px;
    border-radius: 3px;
    min-width: 50px;
    color: #fff;
    cursor: pointer;
}
.btn-secondary{
    background-color: #6c757d;
    border: 1px solid #6c757d;
}